.home {
    .list-posts {
        display: grid;
        grid-gap: 20px;

        @media screeen and (min-width: 768px) {
            grid-template-columns: 50% 50%;
        }

        @media screen and (min-width: $min-width-desktop) {
            grid-template-columns: 33% 33% 33%;
        }
    }

    .pagination {
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
}